{% extends 'core/navbar.html' %}
    {% block body %}
        <div class="cards newcc center cardx animate__animated animate__fadeInUp " style="width: 600px; height: 500px;">
            <div class="points">
                <h2 id="ch2"><br>STUDENTS</h2>
                <h6 id="ch6">The Maldives is famous for a number of reasons, including its vibrant culture,
                pristine beaches, sprawling greenery, and fascinating landmarks.
                Apart from the numerous enchanting landmarks, Maldives is also famous for
                water sports and other adventure activities.</h6>
            </div>
        </div>
    {% endblock %}