{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/core/sidebar.css">
    <script src="https://kit.fontawesome.com/5482c79e6d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

</head>

<body>
    <nav>
        <div class="bar" height="30px">
            <nav class="navbar">
                <div class="container-fluid">
                  <a class="navbar-brand" href="{% url 'core:index' %}" style="margin-left: 240px; color: white; text-decoration: solid;">TeamInitials</a>
                </div>
                <div class="dropdown text-end" style="position:absolute; right:120px">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="https://avatars.githubusercontent.com/u/111530884?v=4" alt="mdo" width="32" height="32" class="rounded-circle" style="z-index: 7;">
                    </a>
                    {% if user.is_authenticated %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <h4 class="alert-heading">Well done! {{ user.username }}</h4>
                            <p>You have successfully logged In.</p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                        </div>
                    {% endif %}
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                      <!-- <li><a class="dropdown-item" href="#">New project...</a></li> -->
                      <li><a class="dropdown-item" href="#">Settings</a></li>
                      <li><a class="dropdown-item" href="{% url 'core:navbar' %}">Profile</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{% url 'core:logout' %}">Sign out</a></li>
                    </ul>
                </div>
              </nav>
              
        </div>
    </nav>
    
    <div class="area"></div>
    <nav class="main-menu">
        <ul>
            <li>
                <a href="{% url 'core:navbar' %}" class="pada">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text" style="font-family: 'Kalam', cursive;">
                        Dashboard
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="{% url 'core:timetable' %}">
                    <i class="fa fa-globe fa-2x"></i>
                    <span class="nav-text" style="font-family: 'Kalam', cursive;">
                        Time Table
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="{% url 'core:add' %}">
                    <i class="fa fa-comments fa-2x"></i>
                    <span class="nav-text" style="font-family: 'Kalam', cursive;">
                        Attendance
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="{% url 'core:info' %}">
                    <i class="fa fa-camera-retro fa-2x"></i>
                    <span class="nav-text" style="font-family: 'Kalam', cursive;">
                        Personal Info
                    </span>
                </a>

            </li>
            <li>
                <a href="{% url 'core:result' %}">
                    <i class="fa fa-film fa-2x"></i>
                    <span class="nav-text" style="font-family: 'Kalam', cursive;">
                        Report 
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-book fa-2x"></i>
                    <span class="nav-text" style="font-family: 'Kalam', cursive;">
                        Details
                    </span>
                </a>
            </li>
            <li>
                <a href="{% url 'core:assignment' %}">
                    <i class="fa fa-book fa-2x"></i>
                    <span class="nav-text" style="font-family: 'Kalam', cursive;">
                        Assessment System
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-book fa-2x"></i>
                    <span class="nav-text" style="font-family: 'Kalam', cursive;">
                        Documentations
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-book fa-2x"></i>
                    <span class="nav-text" style="font-family: 'Kalam', cursive;">
                        Co-Curricular
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-book fa-2x"></i>
                    <span class="nav-text" style="font-family: 'Kalam', cursive;">
                        average
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-info fa-2x"></i>
                    <span class="nav-text" style="font-family: 'Kalam', cursive;">
                        Assignment
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-info fa-2x"></i>
                    <span class="nav-text" style="font-family: 'Kalam', cursive;">
                        Fees Assessment
                    </span>
                </a>
            </li>
        </ul>

        <ul class="logout">
            <li>
                <a href="{% url 'core:logout' %}">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- dashboard -->
    <!-- cards portions -->
    <div class="hund">
        <div class="fifty">
            <div class="cardcenter">
                <div class="cardsallign ">
                    <div class="cards cardx animate__animated animate__fadeInUp ">
                        <div class="thumbnail">
                            <img src="./static/core/images/student.jpg" onclick="myfunc1()" width="100%" alt="loading ...">
                        </div>
                        <div class="points">
                            <h2 id="ch2"><br>My Info</h2>
                            <h6 id="ch6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis commodi nulla neque aperiam ab nobis saepe officiis? Aliquam, similique qui. Sapiente rem molestiae provident error excepturi, quia fuga quidem non?   </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fifty">
            <div class="tfive">
                <div class="cards try  animate__animated animate__fadeInUp">
                    <div class="thumbnail">
                        <img src="./static/core/images/teacher.jpg" onclick="myfunc2()" width="100%" alt="loading ...">
                    </div>
                    <div class="points">
                        <h2 id="ch2"><br>CLASS TEACHER</h2>
                        <h6 id="ch6">The Maldives is famous for a number of reasons, including its vibrant culture,
                            pristine beaches, sprawling greenery, and fascinating landmarks.
                            Apart from the numerous enchanting landmarks, Maldives is also famous for
                            water sports and other adventure activities.</h6>
                    </div>
                </div>
            </div>
            <div class="tfive">
                <div class="cards  animate__animated animate__fadeInUp">
                    <div class="thumbnail">
                        <img src="./static/core/images/attendence.jpg" onclick="myfunc2()" width="100%" alt="loading ...">
                    </div>
                    <div class="points">
                        <h2 id="ch2"><br>MORE INFO</h2>
                        <h6 id="ch6">The Maldives is famous for a number of reasons, including its vibrant culture,
                            pristine beaches, sprawling greenery, and fascinating landmarks.
                            Apart from the numerous enchanting landmarks, Maldives is also famous for
                            water sports and other adventure activities.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        
    </footer>
    <script type="text/javascript">
        (function(d, m){
            var kommunicateSettings = 
                {"appId":"eafbbe13433ae9471233f369309a7e5b","popupWidget":true,"automaticChatOpenOnNavigation":true};
            var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
            s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
            var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
            window.kommunicate = m; m._globals = kommunicateSettings;
        })(document, window.kommunicate || {});
    /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
    </script>
    
</body>
<script src="https://kit.fontawesome.com/5482c79e6d.js" crossorigin="anonymous"></script>
</html>